body {
	width: 100%;	
	padding: 1rem;
}

input {
	margin-right: 1rem;
	margin-top: 2rem;
	padding: 0.25rem;
	border: none;
	border-bottom: 1px solid #222;
	outline: none;
}

button {
	margin: 0.5rem 0.5rem 0.5rem 0;
	background: transparent;
	border: 1px solid rgb(43, 43, 43);
	border-radius: 0.2rem;
	padding: 0.25rem;
	cursor: pointer;
}

.img-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}

.img-container > img {
	max-height: 8rem;
	border-radius: 0.5rem;
	border: 1px solid #ddd;
	margin: 1rem 1rem 1rem 0;
}